/* CUSTOM PROPERTY */
:root {
    --text-color: #333;
    --text-white-color: #fff;
    --black-text-color: #000;
    --body-bgc: #fff;
    --header-bgc: #f3d7b7;
    --light-bgc: #f8f8f2;
    --text-font-family: "Roboto", "Arial", sans-serif;
    --accent-color: #0a775f;
    --accent-color-80: #0a775fcc;
    --accent-color-60: #0a775f99;
    --accent-color-warning: #c99b67;
    --accent-color-warning-80: #c99b67cc;
    --accent-color-warning-60: #c99b6799;
    --outline-color: var(--accent-color);
}


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--outline-color);
    outline-offset: 3px;
    border-radius: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--text-font-family);
    font-style: 16px;
    line-height: 1.75;
    background-color: var(--body-bgc);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* button */
.button {
    display: inline-block;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 1px;
    border-radius: 100px;
    white-space: nowrap;
}

.button-success {
    background-color: var(--accent-color);
    color: var(--text-white-color);
}
.button-success:hover {
    background-color: var(--accent-color-80);
}
.button-success:active {
    background-color: var(--accent-color-60);
}
.button-warning {
    background-color: var(--accent-color-warning);
    color: var(--text-white-color);
}
.button-warning:hover {
    background-color: var(--accent-color-warning-80);
}
.button-warning:active {
    background-color: var(--accent-color-warning-60);
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* site main hero wrapper */
.site-header-hero-wrapper {
    background-color: var(--header-bgc);
    background-image: url(../img/header-intro-bg.jpg);
}

/* SITE HEADER */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.site-header-logo-link {
    display: flex;
    text-decoration: none;
    flex-shrink: 0;
}
.site-header-logo-link:hover {
    opacity: 0.8;
}
.site-header-logo-link:active {
    opacity: 0.6;
}

.site-header-logo-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}

/* site nav */
.site-nav-list {
    display: flex;
}
.medium-site-nav {
    font-size: 16px;
    line-height: 19px;
}
.site-nav-item:not(:last-child) {
    margin-right: 40px;
}
.site-nav-link {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: var(--text-color);
    white-space: nowrap;
}
.site-nav-link:hover {
    color: var(--accent-color);
}
.site-nav-link:active {
    opacity: 0.6;
}
/* //SITE HEADER */


/* HERO */
.hero-container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.hero-content {
    width: 100%;
    max-width: 730px;
    padding-left: 150px;
    padding-right: 116px;
    padding-top: 116px;
    padding-bottom: 100px;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 75px;
    font-weight: 700;
    color: var(--black-text-color);
}
.hero-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 34px;
    color: var(--black-text-color);
}
.hero-img {
    width: 710px;
    height: 596px;
    object-fit: cover;
}

.index-hero-img {
    height: 696px;
}
/* //HERO */



/* MAIN CONTENT */
.main-content{
    padding-top: 20px;
    padding-bottom: 50px;
    flex-grow: 1;
}


/* INDEX COLLECTION */
.index-collection {
    margin-top: 0;
    margin-bottom: 20px;
}
.index-collection-list-wrapper {
    background-color: var(--light-bgc);
    background-image: url(../img/index-collection-bg.jpg);
    padding: 50px 143px;
}
.index-collection-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: var(--black-text-color);
}
.index-collection-list {
    display: flex;
    flex-direction: column;
    width: 1114px;
    margin-left: auto;
    margin-right: auto;
}
.index-collection-item {
    display: flex;
    align-items: center;
}
.index-collection-item:nth-child(even) {
    flex-direction: row-reverse;
}
.index-collection-img {
    width: 450px;
    height: 375px;
    object-fit: cover;
    flex-shrink: 0;
}
.index-collection-content {
    flex-grow: 1;
    padding-left: 117px;
    padding-right: 117px;
}
.index-collection-item-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 56px;
    color: var(--text-color);
}
.index-collection-text {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: var(--text-color);
}
.index-collection-text:not(:last-child) {
    margin-bottom: 10px;
}
/* //INDEX COLLECTION */



/* INDEX FEATURES */
.index-features {
    margin-bottom: 30px;
}
.index-features-container {
}
.index-features-content {
    padding: 50px 30px;
    background-image: url(../img/index-features-bg.jpg);
    background-size: auto 703px;
    background-repeat: no-repeat;
}
.index-features-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform:  uppercase;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: var(--text-white-color);
}
.index-features-text {
    max-width: 581px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 400;
    color: var(--text-white-color);
}
.index-features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}
.index-features-item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
}
.index-features-item-img {
    width: 433px;
    height: 500px;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 28px;
}
.index-features-item-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 35px;
    color: var(--text-color);
}
.index-features-item-text {
    margin: 0;
    padding-right: 56px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
}
/* //INDEX FEATURES */


/* HOW IT WORKS */
.how-it-works-content {
    text-align: center;
    padding: 50px 30px;
    background-color: var(--accent-color);
    background-image: url(../img/how-it-works-bg.jpg);
}
.how-it-works-title {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-white-color);
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 80px;
}
.how-it-works-list {
    display: flex;
    margin-left: -20px;
    text-align: left;
    counter-reset: how-it-works;
}
.how-it-works-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);;
    margin-left: 20px;
    counter-increment: how-it-works;
}
.how-it-works-item::before {
    content: "";
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background-color: var(--light-bgc);
    border: 4px solid var(--accent-color-warning);
}

.how-it-works-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
    background-color: var(--light-bgc);
    margin-bottom: 60px;
}
.how-it-works-item-content::before {
    content: "0"counter(how-it-works);
    margin-bottom: 45px;
    align-self: flex-end;
    font-size: 64px;
    line-height: 75px;
    font-weight: 400;
    color: var(--text-color);
}
.how-it-works-item-title {
    width: 100%;
    max-width: 250px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: var(--text-color);
}
.how-it-works-item-text {
    margin: 0;
    font-weight: 400;
    font-size: 17.9px;
    line-height: 28px;
    color: var(--text-color);
}
.how-it-works-button:focus {
    outline-color: var(--accent-color-warning);
}
/* //HOW IT WORKS */
/* //MAIN CONTENT */



/* SITE FOOTER */
.site-footer {
    background-color: var(--header-bgc);
    background-image: url(../img/footer-bg.jpg);
    padding: 65px 0;
}
.site-footer-container {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer-logo-link {
    display: flex;
}
.site-footer-logo-link:hover {
    opacity: 0.8;
}
.site-footer-logo-link:active {
    opacity: 0.6;
}

.site-footer-logo-img {
    width: 235px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
}
.site-footer-socials {

}
.socials-list {
    display: flex;
    align-items: center;
}
.socials-item:not(:last-child) {
    margin-right: 30px;
}
.socials-link {
    display: flex;
}
.socials-img {
}
/* //SITE FOOTER */

/* RETINA BG */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        .site-header-hero-wrapper {
            background-image: url(../img/header-intro-bg@2x.jpg);
        }
        .index-collection-container {
            background-image: url(../img/index-collection-bg@2x.jpg);
        }
        .index-features-content {
            background-image: url(../img/index-features-bg@2x.jpg);
        }
        .how-it-works-content {
            background-image: url(../img/how-it-works-bg@2x.jpg);
        }
        .site-footer {
            background-image: url(../img/footer-bg@2x.jpg);
        }
}
/* //RETINA BG */