/* CUSTOM PROPERTY */
:root {
    --text-color: #333;
    --text-white-color: #fff;
    --body-bgc: #fff;
    --text-font-family: "Roboto", "Arial", sans-serif;
    --accent-color: #0A775F;
    --outline-color: var(--accent-color);
}


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--outline-color);
    outline-offset: 3px;
    border-radius: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--text-font-family);
    font-style: 16px;
    line-height: 1.75;
    background-color: var(--body-bgc);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* site main hero wrapper */
.site-header-hero-wrapper {
    background-image: url(../img/header-intro-bg.jpg);
}

/* SITE HEADER */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.site-header-logo-link {
    display: flex;
    text-decoration: none;
}
.site-header-logo-link:hover {
    opacity: 0.8;
}
.site-header-logo-link:active {
    opacity: 0.6;
}

.site-header-logo-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}

/* site nav */
.site-nav-list {
    display: flex;
}
.site-nav-item:not(:last-child) {
    margin-right: 40px;
}
.site-nav-link {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: var(--text-color);
}
.site-nav-link:hover {
    color: var(--accent-color);
}
.site-nav-link:active {
    opacity: 0.6;
}
/* //SITE HEADER */

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}



/* RETINA BG */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        .site-header-hero-wrapper {
            background-image: url(../img/header-intro-bg@2x.jpg);
        }
}
/* //RETINA BG */